<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>hrc-project-1605241</display-name>
  <welcome-file-list>
    <welcome-file>try.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>demo.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>InvoiceData</servlet-name>
    <servlet-class>com.highradius.controller.InvoiceData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvoiceData</servlet-name>
    <url-pattern>/InvoiceData</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>EditRow</servlet-name>
    <servlet-class>com.highradius.controller.EditRow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditRow</servlet-name>
    <url-pattern>/DataSave2</url-pattern>
  </servlet-mapping>  
  
</web-app>